.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}
.home-text h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.home-text p {
    margin-bottom: 20px;
    font-size: 20px;
}

.home-text h4{
    margin-bottom : 15px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.btn:hover {
    background-color: #45a049;
}
